version: '3'
services:
  web:
    container_name: ddw-lti-web
    build: .
    environment:
      DATABASE_HOST: postgres
      NODE_ENV: development
      REDIS_HOST: redis
      WEBPACK_MODE: development
    ports:
      - 8080:4000

  redis:
    container_name: ddw-lti-redis
    image: redis:latest
    ports:
      - 6379:6379
  postgres:
    container_name: ddw-lti-postgres
    image: postgres:latest
    environment:
      POSTGRES_DB: postgres
      POSTRES_PASSWORD: something-secret
      POSTGRES_USER: postgres
    ports:
      - 5432:5432