@import "bootstrap_custom";
@import "~bootstrap/scss/bootstrap";


html, body, #root {
  height: 100%;
  width: 100%;
}

@media (max-width: 991.98px) {
  .bd-navbar {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

.bd-navbar {
  min-height: 4rem;
  background-color: $primary;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.navbar-brand-logo {

  height: 36px;

}