<!DOCTYPE HTML>
<html lang="en-us">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>data.world</title>
    </head>
    <body>
        <h1>data.world LTI connector</h1>
        <h2>Hi there, {{lis_person_name_full}}</h2>
    </body>
</html>