<!DOCTYPE HTML>
<html lang="en-us">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{title}}</title>
    </head>
    <body>
        <div id="root"></div>
        <script type="text/javascript" src="/styles.min.js"></script>
        <script type="text/javascript" src="/launch.min.js"></script>
        <script>

            var config = {

                context: {{&context}}

            };

            Window.DDW_LTI.initialize(config);

        </script>
    </body>
</html>