<!DOCTYPE HTML>
<html lang="en-us">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{title}}</title>
    </head>
    <body>
        <div id="root"></div>
        <script>

            let config = { context: {{&context}} };

            Window.DDW_LTI_CONTEXT = config['context'];
            Window.DDW_WIDGET_OPTIONS = {

                client_id: "{{clientId}}",
                hideLinkButton: true,
                query: config['context']['custom_ddw_course_org']

            };


        </script>
        <script src="https://widgets.data.world/dataworld-widgets.js"></script>
        <script type="text/javascript" src="/styles.min.js"></script>
        <script type="text/javascript" src="/launch.min.js"></script>
    </body>
</html>