<!DOCTYPE HTML>
<html lang="en-us">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>data.world</title>
</head>
<body>
<script src="https://widgets.data.world/dataworld-widgets.js"></script>
<script>

    var options = {
        client_id: "{{clientId}}",
        linkText: "Copy Link"
    };

    var datasetSelector = new window.dataworldWidgets.DatasetSelector(options);

    datasetSelector.success(function (selectedDataset) {
        console.log(selectedDataset);
    });

    datasetSelector.show();

</script>
</body>
</html>