<!DOCTYPE HTML>
<html lang="en-us">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>data.world</title>
</head>
<body>
<script src="https://widgets.data.world/dataworld-widgets.js"></script>
<script>

    function initWidget() {

        var options = {
            client_id: "{{clientId}}",
            linkText: "View",
            hideViewButton: true

        };

        var datasetSelector = new window.dataworldWidgets.DatasetSelector(options);

        datasetSelector.success(function (selectedDataset) {

            var el = document.createElement('a');
            el.target = "_blank";
            el.href = "https://data.world/" + selectedDataset[0]['owner'] + "/" + selectedDataset[0]['id'];
            el.setAttribute('readonly', '');
            el.style.position = 'absolute';
            el.style.left = '-9999px';
            document.body.appendChild(el);
            el.click();
            document.body.removeChild(el);

        });

        datasetSelector.show();

    }

    initWidget();

</script>
</body>
</html>