doctype html
html(lang="en")
    head
        title data.world LTI Connector
        link(rel="stylesheet" href="static/css/ddw.vendor.css")
        link(rel="stylesheet" href="static/css/ddw.app.css")
    body
        div(id="root")
        script(type="text/javascript" src="static/js/app.bundle.js")