<!DOCTYPE HTML>
<html lang="en-us">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>This is only a test...</title>
</head>
<body>
    <h1>{{value}}</h1>
</body>
</html>